div {
border:4px solid black;
background:lightgrey;
border-radius: 25px;
margin-left: 20px;
padding:20px;
max-width: 600px;
}
img {
float: left;
margin: 5px 10px 10px 10px;
}
ul {
list-style-type: square; 
text-align: justify;
}
h1 {
text-align: center;
line-height:40%;
}
body {
font-family: "Georgia"
}
h4 {
line-height:0%;
font-style: italic;
}
h3 {
line-height:50%;
}
div1 p {
line-height:20%;
text-align: center;
color:darkslategray
}
h4 {
text-indent: 20px;
}
div2 p {
text-indent: 30px;
line-height:20%;
}
